<div class="container mx-auto">
  <p class="mt-5">
  <h4 class="mb-5"><strong class="bg-light px-3">マイページ</strong></h4>
</div>

<div class="container d-flex">
  <p class="h4"><strong>登録情報</strong></p>
  <span class="ml-5"><%= link_to "編集する", edit_public_customer_path(@customer), class: "btn btn-success px4" %></span>
</div>

<div class="container mt-2">
  <div class="row">
    <div class="col-lg-7">
      <table class="table table-bordered">
        <tbody>
          <tr><td class="bg-light" style="width: 200px;">名前</td><td><%= @customer.last_name %> <%= @customer.first_name %></td></tr>
          <tr><td class="bg-light" style="width: 200px;">カナ</td><td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td></tr>
          <tr><td class="bg-light" style="width: 200px;">郵便番号</td><td><%= @customer.postal_code %></td></tr>
          <tr><td class="bg-light" style="width: 200px;">住所</td><td><%= @customer.address %></td></tr>
          <tr><td class="bg-light" style="width: 200px;">電話番号</td><td><%= @customer.telephone_number %></td></tr>
          <tr><td class="bg-light" style="width: 200px;">メールアドレス</td><td><%= @customer.email %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container d-flex">
  <p class="h4"><strong>配送先　</strong></p>
  <span class="ml-5"><%= link_to "一覧を見る", public_addresses_path(@customer), class: "btn btn-primary px4" %></span>
</div>

<div class="container d-flex my-2">
  <p class="h4"><strong>注文履歴</strong></p>
  <span class="ml-5"><%= link_to "一覧を見る", public_orders_path(@customer), class: "btn btn-primary px4" %></span>
</div>