<div class="container mx-auto">
  <p class="mt-5">
    <h4 class="mb-5"><strong class="bg-light px-3">商品一覧</strong></h4>
    <%= link_to new_admin_item_path  do %>
      <div class="d-inlineblock text-right"><i class="fas fa-plus"></i></div>
    <% end %>
  </p>
  <div class="row">
    <table class="table">
      <thead class="bg-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @items.each do |item| %>
      <tbody>
        <tr>
          <td><%= item.id %></td>
          <td>
            <%= link_to admin_item_path(item) do %>
              <%= item.name %>
            <% end %>
          </td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.is_active == true %>
              <P>販売中</P>
            <% elsif item.is_active == false %>
              <P>販売停止中</P>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="text-center"><%= paginate(@items) %></div>
</div>