<div class="container mx-auto">
    <p class="mt-5">
        <h4 class="mb-5"><strong class="bg-light px-3">商品新規登録</strong></h4>
    </p>
    <form>
        <%= form_with model: @item, url: '/admin/items', method: :post do |f| %>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">商品画像</label>
            <div class="col-sm-6">
                <%= f.file_field :image, accept: "image/*" %>
            </div>
        </div>
        <div class="row mb-3">
           <label class="col-sm-2 col-form-label">商品名</label>
           <div class="col-sm-6">
               <%= f.text_field :name, class: "form-control", id: "itemname", placeholder: "商品名" %>
            </div>
        </div>
        <div class="row mb-3">
           <label class="col-sm-2 col-form-label">商品説明</label>
           <div class="col-sm-6">
               <%= f.text_area :introduction, class: "form-control", id: "itemintroduction", rouws: "3", placeholder: "ここに説明文を記述します" %>
            </div>
        </div>
        <div class="row mb-3">
           <label class="col-sm-2 col-form-label">ジャンル</label>
           <div class="col-sm-6">
               <%= f.select :genre_id, {'ケーキ': 1, 'プリン': 2, '焼き菓子': 3, 'キャンディ': 4}, { include_blank: '--選択してください--'}, { class: 'form-control' , required: true } %>
            </div>
        </div>
         <div class="row mb-3">
           <label class="col-sm-2 col-form-label">税抜価格</label>
           <div class="col-sm-6">
               <%= f.text_field :price, class: "form-control", id: "price", placeholder: "1000" %>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">販売ステータス</label>
            <div class="form-check form-check-inline">
                <label><%= f.radio_button :is_active, "true" %>販売中</label>
                <label class="ml-4"><%= f.radio_button :is_active, "false" %>販売停止中</label>
            </div>
        </div>
        <div class="text-center"><%= f.submit '新規登録', class: "btn btn-success px4" %></div>
        <% end %>
     </form>
   </div>
</div>