<div class="container">
  <div class="row top">
    <div class="col-lg-3">
      <div class="border">
        <p class="text-center border-bottom"><strong>ジャンル検索</strong></p>
        <% @genres.each do |genre| %>
        <p><%= genre.name %></p>
        <% end %>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="mx-auto text-center jumbotron">
        <p><strong>ようこそ、ながのCAKEへ！</strong></p>
        <p><strong>このサイトは、ケーキ販売のECサイトになります。</strong></p>
        <p><strong>会員でない方も商品の閲覧はできますが、</strong></p>
        <p><strong>購入には会員登録が必要になります。</strong></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>新着商品</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 d-flex">
      <% @items.each do |item| %>
      <p class="mx-5 mt-3">
        <%= link_to public_item_path(item) do %>
        <%= image_tag item.image, size: "200x120"%>
          <span class="text-center d-block"><%= item.name %></span>
        <% end %>
        <span class="text-center d-block">￥<%= item.price %></span>
      </p>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <%= link_to public_items_path do %>
    <p class="text-right mt-3">全ての商品を見る＞＞</p>
  <% end %>
</div>