<div class="container mx-auto">
  <p class="mt-5">
    <h4 class="mb-5"><strong class="bg-light px-3"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</strong></h4>
  </p>
  <div class="row">
    <div class="col-lg-4">
      <p>会員ID</p>
      <p>氏名</p>
      <p>郵便番号</p>
      <p>住所</p>
      <p>電話番号</p>
      <p>メールアドレス</p>
      <p>会員ステータス</p>
    </div>
    <div class="col-lg-8">
      <p><%= @customer.id %></p>
      <p><%= @customer.last_name %> <%= @customer.first_name %></p>
      <p><%= @customer.postal_code %></p>
      <p><%= @customer.address %></p>
      <p><%= @customer.telephone_number %></p>
      <p><%= @customer.email %></p>
      <p><%if @customer.is_active == true %>
          有効
         <% else @customer.is_active == false %>
          無効
         <% end %>
      </p>
    </div>
  </div>
  <div class="text-center mt-5">
    <span class="mr-5"><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success px3" %></span>
    <span class="ml-5"><%= link_to "注文履歴一覧を見る", '/orders', class: "btn btn-primary px3" %></span>
  </div>
</div>