<div class="container">
  <p class="mt-5">
    <h4 class="mb-5"><strong class="bg-light px-3">注文履歴詳細</strong></h4>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <p class="mt-2 mb-2"><strong>購入者</strong></p>
      <p class="mt-2 mb-2"><strong>注文日</strong></p>
      <p class="mt-2 mb-4"><strong>配送先</strong></p>
      <p class="mt-2 mb-2"><strong>支払方法</strong></p>
      <p class="mt-2 mb-4"><strong>注文ステータス</strong></p>
    </div>
    <div class="col-lg-9">
      <p class="mt-2 mb-2">
        <%= link_to public_customer_path do %>
          <%= @order.customer.last_name %> <%= @order.customer.first_name %>
        <% end %>
      </p>
      <p class="mt-2 mb-2"><%= @order.created_at.strftime('%Y/%m/%d') %></p>
      <p class="mt-2 mb-4"><%= @order.ship_address %></p>
      <p class="mt-2 mb-2"><%= @order.payment_method_i18n %></p>
      <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
        <div class="form-inline">
          <%= f.select :order_status, Order.order_statuses_i18n.invert, {prompt: false} %>
          <%= f.submit '更新', class: "btn btn-success ml-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <% @orders_details.each do |orders_detail| %>
        <tbody>
          <tr>
            <td><%= orders_detail.item.name %></td>
            <td><%= orders_detail.item.add_tax_price.to_s(:delimited)%></td>
            <td><%= orders_detail.amount %></td>
            <td><%= orders_detail.sum_of_price %></td>
            <%= form_with model: @orders_detail, url: admin_orders_detail_path(orders_detail), method: :patch do |f| %>
            <td>
              <%= f.select :making_status, OrdersDetail.making_statuses_i18n.invert, {prompt: false} %>
              <%= f.submit '更新', class: "btn btn-success ml-3"%>
            </td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-lg-2 align-text-bottom">
      <p><strong>商品合計</strong></p>
      <p><strong>送料</strong></p>
      <p><strong>請求金額合計</strong></p>
    </div>
    <div class="col-lg-2 align-text-bottom">
      <p class="ml-3"><%= @total.round.to_s(:delimited) %>円</p>
      <p class="ml-3"><%= @order.shipping_fee %>円</p>
      <p class="ml-3"><strong><%=@order.amount_billed %>円</strong></p>
    </div>
  </div>
</div>