<div class="container mx-auto">
   <p class="mt-5" style="width: 200px;">
     <h4><strong class="bg-light px-3">ジャンル一覧・追加</strong></h4>
   </p>

      <%= form_with model: @genre, url: '/admin/genres', method: :post do |f| %>
        <strong>ジャンル名</strong>
        <label class="px-5 mt-5"><%= f.text_field :name %></label>
        <%= f.submit '新規登録', class: "btn btn-success px-4" %>
      <% end %>
   </div>
   <div class="row">
     <div class="col-lg-5 ml-5">
       <table class="table mt-5">
         <thead>
           <tr>
             <th class="bg-light">ジャンル</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <% @genres.each do |genre| %>
               <tr><td>
                 <span class=><%= genre.name %></span>
                 <td><div class="text-right"><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success px3" %></div></td>
               </td></tr>
             <% end %>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
</div>