<div class="container">
  <p class="mt-5" style="width: 200px;">
    <h4 class="mb-5"><strong class="bg-light px-3">注文履歴一覧</strong></h4>
  </p>
  <div class="row">
    <table class="table">
      <thead class="bg-light">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <% @orders_details.each do |orders_details| %>
      <tbody>
        <tr>
          <td>
            <%= link_to admin_order_path(orders_details) do %>
              <%= orders_details.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            <% end %>
          </td>
          <td><%= orders_details.order.customer.last_name %><%= orders_details.order.customer.first_name %></td>
          <td><%= orders_details.amount %></td>
          <td><%= orders_details.order.order_status %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>