<div class="container mx-auto">
  <p class="mt-5">
  <h4 class="mb-5"><strong class="bg-light px-3">ショッピングカート</strong></h4>
</div>

<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <%if current_customer.cart_items.present? %>
        <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td>
              <%= image_tag cart_item.item.image, size: "60x50", fallback: "no_image1.jpeg" %>
              <%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td>
              <%= form_with model: cart_item, url: public_cart_item_path(cart_item), method: :patch do |f| %>
                <%= f.number_field :amout, min:1, max: 10 %>
                <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <td><%= cart_item.sum_of_price %></td>
            <td><%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger px-2" %></td>
          </tr>
        </tbody>
        <% end %>
      <% end %>
    </table>
  </div>
</div>