<div class="container mx-auto">
  <h3 class="bg-light mt-5" style="width: 120px;">ログイン</h3>
  <div class="row mx-auto" Style="width: 600px;">
  <h5 class="bg-light mt-3 mb-5">会員の方はこちらからログイン</h5>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label class="d-{inline-block} pr-3"><%= f.label :"メールアドレス" %></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 50 %>
  </div>

  <div class="field">
    <label class="d-{inline-block} pr-5"><%= f.label :"パスワード"%></label>
    <%= f.password_field :password, autocomplete: "current-password", size: 50 %>
  </div>

  <div class="actions ml-5">
    <label class="d-{inline-block} ml-5 pl-5"><%= f.submit "ログイン", class: 'btn btn-primary' %></label>
  </div>
<% end %>
<div>
  <h5 class="bg-light mt-3 mb-5">会員登録がお済みでない方</h5>
  <p class="text-center"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
</div>

</div>