<div class="container mx-auto">
  <p class="mt-5">
  <h4 class="mb-5"><strong class="bg-light px-3">注文情報入力画面</strong></h4>
</div>

<%= form_with model: @order, url: public_orders_path, method: :post do |f| %>
<div class="container">
  <div class="row">
    <strong><%= f.label :payment_method,"支払方法" %></strong>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 ml-5">
      <span>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
      </span></br>
      <span>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </span>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="row">
    <strong><%= f.label :ship_address,"お届け先" %></strong>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 ml-5">
      <%= f.radio_button :ship_address, "current_customer.address" %>
      <%= f.label :ship_address, "ご自身の住所" %>
      </br><span class="ml-3">〒<%= @address %></span>
      </br><span class="ml-3"><%= @name %></span>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8 ml-5">
      <%= f.radio_button :ship_address, "current_customer.address.address" %>
      <%= f.label :ship_address, "登録済み住所から選択" %>
      </br><span class="ml-3"><%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %></span>
    </div>
  </div>
</div>
<% end %>

