<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="border">
        <p class="text-center border-bottom"><strong>ジャンル検索</strong></p>
        <% @genres.each do |genre| %>
        <p><%= genre.name %></p>
        <% end %>
      </div>
    </div>

    <div class="col-lg-4">
      <%= image_tag @item.image, size: "300x200"%>
    </div>

    <div class="col-lg-5">
      <div>
        <h3><strong><%= @item.name %></strong></h3>
        <h5><%= @item.introduction %></h5>
        <h4 class="mt-5">￥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</h4>
        <%= form_with model: @cart_item, url: public_cart_item_path, method: :post do |f| %>
        <div class="mt-4">
         <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], prompt: "個数選択　　", class: "form-control" %>
         <%= f.submit 'カートに入れる', class: "btn btn-success px-2 ml-5" %>
        </div>
      </div>
      <% end %>
    </div>